
.destination_details {
    margin-top: 30px;
}

.destination_details h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.destination_details button {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px; /* Make buttons oval shaped */
    background-color: #007bff;
    color: black;
    cursor: not-allowed;
}

.destination_details button:disabled {
    background-color: #f2f1ec;
    cursor: not-allowed;
}

